<% @auction.tags.build %>
<%= form_for(@auction) do |auction_form| %>
  <% if @auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
      <% @auction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <% for cat in Cat.find(:all) %>  
        <div>  
          <%= check_box_tag "auction[cat_ids][]", cat.id, @auction.cats.include?(cat) %>  
          <%= cat.name %>  
        </div>  
    <% end %>  
  </div>
  <div class="field">
	  <%= for option in Option.all do %>
		 <%= check_box_tag "auction[option_ids][]", option.id, @auction.options.include?(option) %>
		 <%= option.name %>
	   <% end %>
  </div>
  
  
  <div class="field">
	 <%= auction_form.label :planned_date %><br />
	<%= auction_form.date_select :planned_date %>
	
	
  </div>
  
  <div class="field">
	<%= auction_form.hidden_field(:user_id,  {:value => current_user.id} ) %>
  </div>
  <div class="field">
    <%= auction_form.label :title %><br />
    <%= auction_form.text_field :title %>
  </div>
  <div class="field">
    <%= auction_form.label :planned_budget %><br />
    <%= auction_form.text_field :planned_budget %>
  </div>
  <div class="field">
    <%= auction_form.label :content %><br />
    <%= auction_form.text_area :content, :size => "40x10"%>
  </div>
  <h2>Tags</h2>
  <%= render :partial => 'tags/form',
             :locals => {:form => auction_form} %>
  <div class="actions">
    <%= auction_form.submit %>
  </div>
<% end %>
