
                         <%= render_crumbs :separator => ' / ',
								:format => :html_list,
								:active_li_class => 'active',
								:ul_class => 'breadcrumb'
						 %>
            
                            
                  

<div class="reviews page-header">
	<%= form_for @search do |f| %> 
		<%= f.label :title_contains %>
		<%= f.text_field :title_contains %>
	 
		<%= f.collection_select :cats_id_equals, Cat.all, :id, :name, :prompt => "All categories" %>
	  
		<%= f.submit "Search", :class => "btn btn-large btn-huge btn-primary"%>
		<div class="power_search"></div>
		<div class="power_search alert alert-success" style="display: none">
		<%= f.label :planned_budget_gte, "Price ranges from" %>
		<%= f.text_field :planned_budget_gte, :size => 8 %>
		<%= f.label :planned_budget_lte, "to" %>
		<%= f.text_field :planned_budget_lte, :size => 8 %>
		</div>
	<% end %>
</div>  

<div id="filter-bar" class="btn-toolbar">
    <div class="btn-group toggle">
        <div class="btn btn-success" href="?">Power Search</div>

    </div>

		<script>
		$(".toggle").click(function () {
		$(".power_search").toggle("slow");
		});
		</script>
  <div class="btn-group">
  
	<%= sort_link @search, :title, "Sort by: Title", {} , :class => "btn dropdown-toggle" %>
  </div>
  
<!--
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#sort">
            Sort<span>: Newest</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
                    <li>
                        <a href="h">APProved</a>
                    </li>
     
                    <li>
                        <a href="h">Best</a>
                    </li>
        </ul>
    </div>
-->

	       <div class="digg_pagination pull-right">
			<div clas="page_info">
			  <%= page_entries_info @auctions %>
			</div>
			<%= will_paginate @auctions, :container => false %>
		   </div>
    
</div>


    
        <div class="row">
            

            
<div class="span4">
    <div class="application well promotion">
        <a class="application-tile-link" href="3/" title="">
           <img class="pull-left application-icon" src="http://placehold.it/64x64">
        </a>

        <h3>
            
                <a class="application-tile-link" href="gy" title="">Level 3</a>
            

        </h3>
        <!--  <span class="pull-right label label-warning">Promoted</span> -->
        
        <p class="developer">Bugbrained</p>
        <p class="rating">
            
                End Date: 25.05.2013
            
        </p>

        
        
        <a class="btn btn-primary application-tile-link"  href="h" title="Level 3">
            
                Show
            
        </a>
        <p class="usage-count">
            Planned Budget : 4000 zl
        </p>
        
    </div>
	
</div>
            
                


         
                

 <% @auctions.each do |auction| %>

<div class="span4">
    <div class="application well ">
		
        <a class="application-tile-link" href="3/" title="">
		<% if auction.user.image %>
            <img class="pull-left application-icon" src="<%= auction.user.image %>">
        <% else %>
			<img class="pull-left application-icon" src="http://placehold.it/64x64">
		<% end %>
		</a>
		
		<h3>
		
			<a class="application-tile-link" href="zz" title=""><%= auction.title %></a>
		</h3>
        
        <p class="developer"><%= auction.user.name %></p>
        <p class="rating">
            
                End Date: <%= auction.planned_date %>
            
        </p>

        
        <%= link_to 'Show', auction, :class => "btn btn-primary application-tile-link" %>
       
        <p class="usage-count">
            Planned Budget: <%= auction.planned_budget %> zl
			
        </p>
        
    </div>

</div>

 <% end %>             

        </div>

        <div class="digg_pagination">
			<div clas="page_info">
			  <%= page_entries_info @auctions %>
			</div>
			<%= will_paginate @auctions, :container => false %>
		 </div>
            

    <ul class="pager">
        
			

            <li class="next">
                <a href="h" rel="next">Next</a>
            </li>
        
    </ul>
    


<h1>Listing auctions</h1>

<table>
  <tr>
    <th>User Id</th>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
	<th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @auctions.each do |auction| %>
  <tr>
    <td><%= auction.user_id %></td>
    <td><%= auction.name %></td>
    <td><%= auction.title %></td>
    <td><%= auction.content %></td>
    <td><%= link_to 'Show', auction %></td>
	<% if user_signed_in? %>
		<% if current_user.has_role? :admin %>
		<td><%= link_to 'Edit', edit_auction_path(auction) %></td>
		<td><%= link_to 'Destroy', auction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
<%= link_to 'New Auction', new_auction_path %>
<% end %>