<ul class="breadcrumb">
                        
                            
                                <li>
                            
                                <a href=/>Home</a><span class="divider">/</span>
                                </li>
                        
                            
                                <li class="active">
                            
                                <a href="">Apps</a>
                                </li>
                        
                    </ul>

<div class="reviews page-header">
        <h1>Futures</h1>
    </div>

    



<div id="filter-bar" class="btn-toolbar">
    <div class="btn-group">
        <a class="btn btn-success" href="?">Power Search</a>
    </div>
	
  Sort by:
  <%= sort_link @search, :title %> |
 
  

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#sort">
            Sort<span>: Newest</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            
                
            
                
                    <li>
                        <a href="h">APProved</a>
                    </li>
                
            
                
                    <li>
                        <a href="h">Best</a>
                    </li>
                
            
                
                    <li>
                        <a href="h">Popular</a>
                    </li>
                
            
        </ul>
    </div>

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#price">
            Price<span>: Free &amp; Paid</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
   
                    <li>
                        <a href="h">Free</a>
                    </li>
   
                    <li>
                        <a href="h">Paid</a>
                    </li>
    
        </ul>
    </div>

	
	       <div class="digg_pagination pull-right">
			<div clas="page_info">
			  <%= page_entries_info @auctions %>
			</div>
			<%= will_paginate @auctions, :container => false %>
		 </div>
    
</div>


    
        <div class="row">
            

            
<div class="span4">
    <div class="application well promotion">
        <a class="application-tile-link" href="3/" title="">
           <img class="pull-left application-icon" src="http://placehold.it/64x64">
        </a>

        <h3>
            
                <a class="application-tile-link" href="gy" title="">Level 3</a>
            

        </h3>
        <!--  <span class="pull-right label label-warning">Promoted</span> -->
        
        <p class="developer">Bugbrained</p>
        <p class="rating">
            
                End Date: 25.05.2013
            
        </p>

        
        
        <a class="btn btn-primary application-tile-link"  href="h" title="Level 3">
            
                Show
            
        </a>
        <p class="usage-count">
            Planned Budget : 4000 zl
        </p>
        
    </div>
	
</div>
            
                


         
                

 <% @auctions.each do |auction| %>

<div class="span4">
    <div class="application well ">
		
        <a class="application-tile-link" href="3/" title="">
		<% if auction.user.image %>
            <img class="pull-left application-icon" src="<%= auction.user.image %>">
        <% else %>
			<img class="pull-left application-icon" src="http://placehold.it/64x64">
		<% end %>
		</a>
		
		<h3>
		
			<a class="application-tile-link" href="zz" title=""><%= auction.title %></a>
		</h3>
        
        <p class="developer"><%= auction.user.name %></p>
        <p class="rating">
            
                End Date: <%= auction.planned_date %>
            
        </p>

        
        <%= link_to 'Show', auction, :class => "btn btn-primary application-tile-link" %>
       
        <p class="usage-count">
            Planned Budget: <%= auction.planned_budget %> zl
			
        </p>
        
    </div>

</div>

 <% end %>             
                




            
                

            
        </div>

        <div class="digg_pagination">
			<div clas="page_info">
			  <%= page_entries_info @auctions %>
			</div>
			<%= will_paginate @auctions, :container => false %>
		 </div>
            

    <ul class="pager">
        
			

            <li class="next">
                <a href="h" rel="next">Next</a>
            </li>
        
    </ul>
    
	

<%= form_for @search do |f| %>
  <p>
    <%= f.label :title_contains %>
    <%= f.text_field :title_contains %>
  </p>
  <p>
    <%= f.label :planned_budget_gte, "Price ranges from" %>
    <%= f.text_field :planned_budget_gte, :size => 8 %>
    <%= f.label :planned_budget_lte, "to" %>
    <%= f.text_field :planned_budget_lte, :size => 8 %>
  </p>
  
  <p class="button"><%= f.submit "Search" %></p>
<% end %>

<p>
  Sort by:
  <%= sort_link @search, :name %> |
 
  
</p>

		

<h1>Listing auctions</h1>

<table>
  <tr>
    <th>User Id</th>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
	<th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @auctions.each do |auction| %>
  <tr>
    <td><%= auction.user_id %></td>
    <td><%= auction.name %></td>
    <td><%= auction.title %></td>
    <td><%= auction.content %></td>
    <td><%= link_to 'Show', auction %></td>
	<% if user_signed_in? %>
		<% if current_user.has_role? :admin %>
		<td><%= link_to 'Edit', edit_auction_path(auction) %></td>
		<td><%= link_to 'Destroy', auction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
<%= link_to 'New Auction', new_auction_path %>
<% end %>