<div class="page-header">
            <img alt="" class="pull-left application-header-icon" src="<%= @auction.user.image %>">

            <span ><h1>User name</h1></span>
            <small >Status icons(registered, veryficated)</small>
</div>

        <div class="row">
            <div class="span4">
  
                    <div class="alert alert-info" >
                        
                        
                        <h2 class="alert-heading">Desc</h2>
						
						 <ul>
							<li>Created at: <%= @auction.created_at %></li>
							<li>Updated at: <%= @auction.updated_at %></li>
							<li>How many bits: ??</li>
						 </ul>
						
                    </div>

                    <div class="alert alert-success">
                        <h2 class="alert-heading">Cool</h2>
                        <b>Category:</b>
						  <ul>
						  <% for cat in @auction.cats %>
							  <li><%= h cat.name %></li>
							<% end %>
						  
						  </ul>
						  <b>Options:</b>
						  <ul>
						    <% for option in @auction.options %>
							  <li><%= h option.name %></li>
							<% end %>
						  </ul>
                       
                    </div>

                    <div class="alert alert-error">
                        <h2 class="alert-heading">Drool</h2>
                        <p>
						  <b>Tags:</b>
						  <%= @auction.tags.map { |t| t.name }.join(", ") %>
						</p>

                       
                    </div>
                
            </div>

            <div class="span8">
                
                   

                <div class="page-header">
					<h2 >Planned Date: 28.12.2012</h2>
					<small>Left to end of auction: 2 days, 12 hours, 34 min</small>
				</div>
				<div class="page-header">	
					<h2>Planned Budget: 300</h2>
				</div>
				<div class="page-header">   
					<h2>About Auction</h2>
                    <p><%= @auction.content %></p>
                </div>

                
                   
			</div>	
		</div>

<div>            

<p>
  <b>Name:</b>
  <%= @auction.name %>
</p>
<p>
  <b>Options:</b>
  <ul>
<% for option in @auction.options %>
      <li><%= h option.name %></li>
    <% end %>
	</ul>
</p>
<p>
  <b>Category:</b>
  <ul>
  <% for cat in @auction.cats %>
      <li><%= h cat.name %></li>
    <% end %>
  
  </ul>

</p>

<p>
  <b>Title:</b>
  <%= @auction.title %>
</p>

<p>
  <b>Content:</b>
  <%= @auction.content %>
</p>

<p>
  <b>Tags:</b>
  <%= @auction.tags.map { |t| t.name }.join(", ") %>
</p>


<h2>Bits</h2>
<% @auction.bits.each do |bit| %>
  <p>
    <b>Bitter:</b>
    <%= bit.bitter %>
  </p>
 
  <p>
    <b>Description:</b>
    <%= bit.body %>
  </p>
  <% if user_signed_in? %>
	  <% if current_user.has_role? :admin %>
	  <p>
		<%= link_to 'Destroy Bit', [bit.auction, bit],
				   :confirm => 'Are you sure?',
				   :method => :delete %>
	  </p>
	  <% end %>
  <% end %>
  
<% end %>
 
<h2>Add a Bit:</h2>
<% if user_signed_in? %>
	<%= form_for([@auction, @auction.bits.build]) do |f| %>
	  <div class="field">
		
		<%= f.hidden_field(:user_id,  {:value => current_user.id} ) %>
		
		<%= f.hidden_field(:bitter,  {:value => current_user.name} ) %>
	  </div>
	  <div class="field">
		<%= f.label :body %><br />
		<%= f.text_field :body %>
	  </div>
	  <div class="actions">
		<%= f.submit %>
	  </div>
	<% end %>
<% else %>
<%= link_to 'Login', new_user_session_path %>  
<% end %>
<br />
<% if user_signed_in? %>
	<% if current_user.has_role? :admin %>
	<%= link_to 'Edit', edit_auction_path(@auction) %> | 
	
	<% end %>
<% end %>

</div>