        <div class="hero-unit" style="background-color:transparent;padding:0">
            <h1>Masz PlanNaTo?</h1>
            <p>Z nami zaplanujesz wszystko.</p>

            <div class="row" style="margin-top:20px">
                
                    <div class="span3">
                        <span class="label label-info" style="font-size:18px">Jesteś organizatorem?</span>
                        <p style="margin-top:10px">
						Zobacz jak szybko możesz zaplanować swoją imprezę, przyjęcie, wesele.
						<br>Przekonaj się ile możesz z nami zaoszczędzić. <br>To Ty wybierasz wykonawcę.
						</p>
                        <a class="btn btn-large btn-huge btn-primary" href="h">Dodaj Aukcje</a>
                    </div>
                    <div class="span3">
					<%= image_tag("home/260x180_1.png", :alt => "images") %>

                       
                    </div>
                

                
                    <div class="span3">
                        <span class="label" style="font-size:18px">Jesteś wykonawcą?</span>
                        <p style="margin-top:10px">
						Dołącz do Nas, wyszukuj, licytuj, rozwijaj swój Biznes.
						Zdobywaj reputacje. 
						<br>
						<br> Pozyskaj nowych klientów.
						<br><br>
						</p>
                        <a class="btn btn-large btn-huge" href="h">Dołącz do Nas</a>
                    </div>
                    <div class="span3">
                        <%= image_tag("home/260x180_2.png", :alt => "images") %>
                    </div>
                
            </div>
        </div>
    

    
        

    
    
		  
	<style>
.bs-search {

	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.25);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.25);
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
	background-color: whitesmoke;
	background-image: -moz-linear-gradient(center top , white, rgb(230, 230, 230));
	background-repeat: repeat-x;

    position: relative;
    margin: 15px 0px;
    padding: 39px 19px 14px;
	#background-color: rgb(245, 245, 245);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 6px 6px 30px 30px;
}

/* Echo out a label for the wyszukiwarka */
.bs-search:after {
  content: "Wyszukiwarka";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}


	</style>
	
<div class="bs-search">
		<center>
          <form class="form-search input-append" >
				<input type="text" class="input-xxlarge search-query radiuss" style="height: 30px">
				<select class="span3 radiuss" style="height: 40px">
					<option>Kategory 1</option>
				</select>
				<button type="submit" class="btn btn-large btn-success">Szukaj</button><button class="btn btn-large" type="button">Opcje</button>
		  </form> 
		</center>
</div>


<div id="filter-bar" class="btn-toolbar">
    <div class="btn-group">
        <a class="btn btn-success" href="h">Power Search</a>
    </div>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="h">
            Sort<span>: Newest</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            
                
            
                
                    <li>
                        <a href="h">APProved</a>
                    </li>
                
            
                
                    <li>
                        <a href="h">Best</a>
                    </li>
                
            
                
                    <li>
                        <a href="h">Popular</a>
                    </li>
                
            
        </ul>
    </div>

</div>


    
        <div class="row">
            
            
        </div>

        
            

    <ul class="pager">
        
        
            <li class="next">
                <a data-page="2" href="h" rel="next">Next</a>
            </li>
        
    </ul>
    
			

        <h3>Home</h3>
<h3>Auctions</h3>
<% @auctions.each do |auction| %>
  <p>Auction: <%=link_to auction.title, auction %></p>
<% end %>

<h3>Users</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

<h3>Tags</h3>
<% @tags.each do |tag| %>
  <%=tag.name %>
<% end %>
    
