<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= content_for?(:title) ? yield(:title) : "Imprezator" %></title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
    <body>
        
		<header class="navbar navbar-fixed-top new-navbar">
			<nav class="navbar-inner">
        
                <div class="container">
					<%= render 'layouts/navigation' %>
                    
                </div>
            </nav>
        </header>

        <div class="container">
            

            

            
		<%= render 'layouts/messages' %>
              <%= yield %>
         
           
			<footer>
            <div class="footer">
                <p>2012 Jarode, Inc.</p>
                <p>
                    <a href="?">Support</a>
                    <a href="?">Developers</a>
                    <a href="?">Contact</a>
                    <a href="?">Privacy Policy</a>
                    <a href="?">Sitemap</a>
                </p>
            </div>
			</footer>
        </div>

        
           

        
    
        <script>
            jQuery(function ($) {
                $('#login-popover-container').popover('show');
                $('html').on('click', function () {
                    $('#login-popover-container').popover('hide');
                });
            });
        </script>
    

    

</body>
</html>